  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #gui {
    position: absolute;
    right: 0;
    top: 0;
  }

  /*CSS styles for the solar system*/
  #solar-system {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  /*CSS styles for the solar system*/
  #earth-system {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  /*CSS styles for the solar system*/
  #topography-system {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  #planet-info {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
  }

  #close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* CSS styles for the orbit controls */
  #three-orbit-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }

  #three-orbit-controls #orbit-pan {
    cursor: move;
  }

  #three-orbit-controls #orbit-zoom {
    cursor: zoom-in;
  }

  #three-orbit-controls #orbit-zoom-out {
    cursor: zoom-out;
  }

  #three-orbit-controls #orbit-rotate {
    cursor: ew-resize;
  }

  #three-orbit-controls #orbit-dolly {
    cursor: ns-resize;
  }

  .webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
.music {
  margin-right: 2rem;
}

.tomo {
  margin-left: 2rem;
}


a {
  color: blue;
}

nuv {
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: rgb(24, 45, 228);
  z-index: 2;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 1rem;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

nuv a {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: rgb(24, 45, 228);
  font-weight: bold;
}

  nav {
    font-family: Arial, sans-serif;
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
  }


  nav a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav c {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  nav ul {
    font-family: Arial, sans-serif;
    list-style: none;
    display: flex;
    gap: 4rem;
  }

  .title {
    font-family: Arial, sans-serif;
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -1%);
  }


  .center-text {
    text-align: center;
  }

    /* Popup container */
    .popup {
      overflow: hidden;
      display: none;
      /* initially hidden */
      position: fixed;
      /* position in relation to the screen */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      /* overlay background */
      z-index: 3;
      /* display on top of other elements */
    }
  
    /* Popup content container */
    .popup-content {
      position: absolute;
      /* position in relation to the parent container */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* center the content */
      width: 80%;
      height: auto;
      max-height: 80%;
      background: rgb(42, 40, 40);
      /* content background */
      padding: 20px;
      /* include padding and borders in the element's total size */
      box-sizing: content-box;
      overflow-y: auto;
    }
  
    /* Popup header */
    .popup-header {
      display: flex;
      /* display elements in a row */
      justify-content: space-between;
      /* position elements at opposite ends of the row */
    }
  
    /* Popup header text */
    .popup-header h2 {
      margin: 0;
     /*  padding-bottom: 20px; */
      /* remove default margin */
    }
  
    /* Close button */
    .close-popup {
      font-size: 1.5rem;
      /* increase font size */
      text-decoration: none;
      /* remove underline */
      color: gray;
      /* change color */
      cursor: pointer;
      /* change cursor on hover */
    }
  
    .popup-content iframe {
      width: 100%;
      height: 100%;
      max-width: 800px;
      max-height: 500px;
    }
  
    .text-container {
      position: relative;
    }

    iframe {
    width: 100%;
      height: 100%;
      max-width: 800px;
      max-height: 500px;
    }

    .text-container {
      position: relative;
    }

/*     .cv-container {
      position: relative;
    } */

    .download-link {
      font-family: Arial, sans-serif;
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      text-decoration: none;
    }


    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 10px;
    }

    h3 {
      padding-top: 20px;
      color: rgb(238, 204, 6);
    }

    .research_description{
      color: rgb(255, 255, 255);
      text-align: justify;
      
    }
    .captions{
            color: rgb(255, 255, 255);
            text-align: center;
    }


#button-container {
  position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
  display: flex;
  flex-direction : column
}

#topography-system-button {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  background-color: #2903b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#earth-system-button {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  background-color: #2903b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#solar-system-button {
  font-family: Arial, sans-serif;
  background-color: #2903b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#buttons-of-earth-system {
  position: fixed;
  bottom: 0;
  left: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column
}

#cut-earth-button {
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  background-color: #2903b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#exit-clipping-button {
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  background-color: #2903b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

/*       h1,
      h2,
      h3 {
        color: rgb(255, 255, 255);
      } */

/*       h2 {
        display: block;
        margin-top: 25px;
        padding: 10px;
      } */

  /* Styles for the about me modal */
  /*  #about-me-popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      width: 80%;
      height: 80%;
      background: white;
      padding: 20px;
      box-shadow: 0 0 10px #ccc;
  }*/

  /* Show the modal when the about me link is clicked */
  /*   #about-me-popup.show {
      display: block;
  } */

  /* .top-left-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: white;
  z-index: 1;
} */

  /*       #text {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px;
   font-size: 20px;
   font-weight: bold;
} */